<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Polymath Project">
      <%= assigns[:page_title] || "Polymath Project" %>
    </.live_title>

    <script defer src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" 
    referrerpolicy="origin"></script>



    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-gray-20 antialiased max-w-6xl mx-auto">
    <%= @inner_content %>
  </body>
</html>


<%!-- [scrollbar-gutter:stable] --%>